p {
  padding: 0;
  margin: 0;
}

.jumbotron {
  background: rgb(242,246,248); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(242,246,248,1) 0%, rgba(181,198,208,1) 100%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 100%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 100%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 */
}

#fcc_logo {
  width: 50px;
}

#content img {
  border-radius: 50%;
  width: 30px;
}

#content a {
  text-decoration: none;
}

.offline {
  background-color: #d9534f;
}

.online {
  background-color: rgba(92,184,92,.7);
}

/*links*/

.fa {
  margin: 5px;
  font-size: 20px;
}
